
@font-face {
  font-family: 'Gordita Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gordita Regular'), url('gordita/Gordita Regular.woff') format('woff');
}

@font-face {
  font-family: 'Gordita Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gordita Bold'), url('gordita/Gordita Bold.woff') format('woff');
}
    

@font-face {
  font-family: 'Gordita Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Gordita Medium'), url('gordita/Gordita Medium.woff') format('woff');
}
  

      
  

body {
  font-family: 'Gordita Medium','Source Sans Pro', arial, helvetica, sans-serif;
  padding-bottom: 50px;
}
h3 {
  margin-top: 50px;
}
li {
  margin: 25px 50px 0 0;
}
table {
  width: 1400px;
  margin: 0 50px 0 50px;
}
td {
  width: 50%;
  vertical-align: top;
  padding-right: 60px;
}
